.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  padding-bottom: 4px;
}

.petWrapper {
  cursor: grab;
  width: 128px;
  height: 128px;
  flex-shrink: 0;
}

.petWrapper:active {
  cursor: grabbing;
}
